* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input[type="color"] {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans");

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Work Sans";
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  cursor: wait;
}

.app-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  color: white;
  margin: auto;
  max-width: 100em;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  padding-left: 20px;
  font-size: 1.2em;

  .flood-fill-icon {
    width: 3.5em;
  }

  p {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.main-container-outer {
  display: flex;
  position: relative;
  min-height: 0;
  height: 100%;
  padding: 20px;

  .main-container-inner {
    display: flex;
    min-width: 0;
    width: 100%;
    padding: 30px;
    background-color: hsl(0, 0%, 12%);
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  min-width: 10em;
  max-width: 20em;
  flex-grow: 1;
  margin-right: 22px;
  padding-right: 8px;
  overflow: auto;

  .grid-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  input {
    width: 100%;
  }

  button {
    margin-top: 10px;
    height: 2.5em;
    background-color: hsl(0, 0%, 0%);
    border: 2px solid white;
    border-radius: 6px;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;

    &:hover {
      background-color: hsl(0, 0%, 20%);
    }
  }
}

.grid-container-outer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  box-shadow: 0 0 16px 8px hsl(17, 90%, 25%);

  .grid-container-inner {
    display: flex;

    .grid {
      display: flex;
      position: relative;
      flex-direction: row;
      width: fit-content;
      height: fit-content;

      .grid-column {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }

      .grid-cell {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 16px;
        width: 16px;
        cursor: crosshair;

        &:hover {
          z-index: 1;
          box-shadow: 0px 0px 4px 4px white;
        }
      }
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 0.8em;
  }

  .main-container-outer {
    padding: 10px 0 10px 0;

    .main-container-inner {
      padding: 10px;
    }
  }

  .header {
    font-size: 1em;

    .flood-fill-icon {
      width: 2.5em;
    }
  }

  .sidebar-container {
    min-width: 7em;
    max-width: 7em;
    margin-right: 0;
    row-gap: 32px;

    .grid-form {
      row-gap: 8px;
    }

    button {
      overflow: hidden;
      word-wrap: break-word;
      height: 3em;
    }
  }
}
