* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
}

.sidebar-container {
  display: flex;
  position: sticky;
  flex-direction: column;
  row-gap: 10px;

  .grid-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  input[type="number"] {
    width: 5em;
  }
}

.grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: max-content;
}

.grid-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.grid-cell {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 16px;
  width: 16px;
}
